:root {
  --anim-over-in-and-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



/*# Header */

.c-header-tab-button {
  transition: background-color 0.15s, outline-color 0.3s;
}

.l-header-indicator-tabs {
  transition: transform 0.3s ease-in-out;
}

/*# END - Header */





@keyframes raise-sup {
  0% {
    margin-right: 0;
    transform: scale(1) translate(0);
  }
  20% {
    /* Acts as a delay */
  }
  100% {
    margin-right: -0.4em;
    transform: scale(0.65) translate(-0.3em, -0.35em);
  }
}

/*# Studies */

.o-prim-study {
  transition: box-shadow 0.15s;
}
.o-prim-study span {
  transition: color 0.15s;
}

.o-prim-study::before {
  transition: background-color 0.15s;
}

.o-prim-study--bought::before {
  transition: inset 0.3s var(--anim-over-in-and-out), outline-width 0.15s
}

.c-prim-study-name .sup,
.c-prim-study-name .sub {
  animation: raise-sup 1s var(--anim-over-in-and-out) forwards;
}



.o-prim-study--obfuscated::before {
  inset: 2px;
}

.o-prim-study--unavailable::before {
  outline: 0;
  
  inset: -4px;
}

.o-prim-study--available::before {
  inset: 0;
}

.o-prim-study--bought::before,
.o-prim-study--bought.o-prim-study--node::before {
  inset: -4px;
}

.o-prim-study--respecced::before {
  outline-width: 4px;

  inset: -6px
}

/*# END - Studies */





@keyframes loop-dash-array {
  100% {
    /* This is the negative of stroke-dasharray's sum (60px + 20px) */
    stroke-dashoffset: -80px;
  }
}

/*# Study Links */

.c-study-link_segment,
.c-study-link_ray-dashing {
  transition: stroke 0.2s ease-in-out;
}

.c-study-link_ray-dashing--animated {
  animation: loop-dash-array 1s linear infinite;
}

/*# END - Study Links */