/*# General */

* {
  user-select: none;
  text-align: center;

  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

html {
  overflow: hidden;
}

body {
  font-size: 20px;
}

span {
  cursor: text;

  font-family: Bitter, Times, Serif;
}

button {
  cursor: pointer;

  font-family: Bitter, Times, Serif;
}
button span {
  font-size: 20px;
}

/*# END - General */




/*# Semantic */

#dynamic-content {
  cursor: move;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#user-interface {
  /* The pixel difference on translate is based on a standard study's half-size */
  translate: -140px -80px;
}

#background {
  /* Using the same position from #user-interface makes the JS simpler */
  background-position: -140px -80px;

  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: -2;
}

/*# END - Semantic */