/*# General */

* {
  user-select: none;
  text-align: center;

  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

html {
  overflow: hidden;
}

body {
  font-size: 20px;
}

span,
text {
  cursor: text;

  font-family: Bitter, Times, Serif;
}

button {
  cursor: pointer;

  font-family: Bitter, Times, Serif;
}
button span {
  font-size: 20px;
}

/*# END - General */




/*# Semantic */

#dynamic-content {
  cursor: move;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* I have to use a class for this if I wanted to animate this */
span > .sup,
span > .sub {
  font-size: inherit;

  transform: scale(0.65) translate(-0.3em, -0.35em);
  vertical-align: top;

  margin-right: -0.4em;

  display: inline-block;
}



.c-hotkey {
  font-family: Monospace;

  padding: 1px 3px;
  border: 2px outset;
  border-radius: 2px;

  display: inline;
}

.vue-slider {
  cursor: pointer;
}

/*# END - Semantic */