:root {
  --duration-speed-fast: 0.2s;
  /*! Changing mod means to change '@/component/article/Notification.vue's animSpeedMod constant */
  --duration-speed-mod: 0.4s; 
  --duration-speed-slow: 1s;

  --anim-over-in-and-out: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  --anim-expo-in: cubic-bezier(1, 0, 1, 1);
  --anim-expo-out: cubic-bezier(0, 1, 1, 1);
}



@keyframes wipe-up {
  0% { transform: translateY(50%) scaleY(0); }
  100% { transform: translateY(0) scaleY(1); }
}

/*# Semantic */

/** Vue <Transition> */
.a-tooltip-enter-active {
  animation: wipe-up var(--duration-speed-fast) var(--anim-over-in-and-out);
}

.a-tooltip-leave-active {
  animation: wipe-up var(--duration-speed-fast) ease-out reverse;
}
/** END - Vue <Transition> */

/*# END - Semantic */





/* From Vue, I'll improve the animation later */
@keyframes bounce-in {
  0% { transform: scale(0); }
  33% { transform: scale(0.67, 0.33); }
  67% { transform: scale(1.33, 0.67); }
  100% { transform: scale(1); }
}

/*# Fixeds */

.c-header-tab-button {
  transition:
    background-color var(--duration-speed-fast),
    outline-color var(--duration-speed-mod);
}

.l-header-indicator-tabs {
  transition: transform var(--duration-speed-mod) ease-in-out;
}





.c-metapanel-cancel {
  transition: background-color var(--duration-speed-fast);
}





.o-function {
  transition: outline-color var(--duration-speed-fast);
}

.l-function-indicator {
  transition: opacity var(--duration-speed-fast);
}

.o-function-button {
  transition:
    background-color var(--duration-speed-fast),
    opacity var(--duration-speed-fast);
}

/** Vue <Transition> */
.a-function-button-enter-active {
  animation: bounce-in var(--duration-speed-mod) ease-in-out;
}

.a-function-button-leave-active {
  animation: bounce-in var(--duration-speed-mod) ease-in-out reverse;
}
/** END - Vue <Transition> */

/*-> Transition to */
.l-function-indicator:has(+ .o-function-button:hover) {
  opacity: 0.75 
}



.o-notification {
  transition:
    background-color var(--duration-speed-fast),
    transform var(--duration-speed-slow);
}

.c-notification-flare {
  transition: transform var(--duration-speed-mod) var(--anim-over-in-and-out);
}

/*# END - Fixeds */





@keyframes raise-sup {
  0% {
    margin-right: 0;
    transform: scale(1) translate(0);
  }
  20% {
    /* Acts as a delay */
  }
  100% {
    margin-right: -0.4em;
    transform: scale(0.65) translate(-0.3em, -0.35em);
  }
}

@keyframes lay-sub {
  0% {
    margin-right: 0;
    transform: scale(1) translate(0);
  }
  20% {
    /* Acts as a delay */
  }
  100% {
    margin-right: -0.4em;
    transform: scale(0.65) translate(-0.3em, 0.35em);
  }
}

/*# Studies */

.o-prim-study {
  transition: box-shadow var(--duration-speed-fast);
}
.o-prim-study span {
  transition: color var(--duration-speed-fast);
}

.o-prim-study::before {
  transition: background-color var(--duration-speed-fast);
}

.o-prim-study--bought::before {
  transition:
    inset var(--duration-speed-mod) var(--anim-over-in-and-out),
    outline-width var(--duration-speed-fast);
}

.c-prim-study-name .f-sup {
  animation: raise-sup var(--duration-speed-slow) var(--anim-over-in-and-out) forwards;
}
.c-prim-study-name .f-sub {
  animation: lay-sub var(--duration-speed-slow) var(--anim-over-in-and-out) forwards;
}




/*-> Transition to */
.o-prim-study--obfuscated::before {
  inset: 2px;
}

.o-prim-study--unavailable::before {
  outline: 0;
  
  inset: -4px;
}

.o-prim-study--available::before {
  inset: 0;
}

.o-prim-study--bought::before,
.o-prim-study--bought.o-prim-study--node::before {
  inset: -4px;
}

.o-prim-study--respecced::before {
  outline-width: 4px;

  inset: -6px
}

/*# END - Studies */




/* This is the negative of stroke-dasharray's sum (60px + 20px) */
@keyframes loop-dash-array {
  100% { stroke-dashoffset: -80px; }
}

/*# Study Links */

.c-study-link_segment,
.c-study-link_ray-dashing {
  transition: stroke var(--duration-speed-fast) ease-in-out;
}

.c-study-link_ray-dashing--animated {
  animation: 
    loop-dash-array var(--duration-speed-slow) cubic-bezier(0.33, 0, 1, 1),
    loop-dash-array var(--duration-speed-slow) var(--duration-speed-slow) linear infinite;
}

/*# END - Study Links */