/*# General */

* {
  user-select: none;
  text-align: center;

  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

html {
  overflow: hidden;
}

body {
  font-size: 20px;
}

span,
text {
  cursor: text;

  font-family: Bitter, Times, Serif;
}

button {
  cursor: pointer;

  font-family: Bitter, Times, Serif;
}
button span {
  font-size: 20px;
}

/*# END - General */




/*# Semantic */

#dynamic-content {
  cursor: move;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#user-interface {
  /* The pixel difference on translate is based on a standard study's half-size */
  translate: -140px -80px;
}

#background {
  /* Using the same position from #user-interface makes the JS simpler */
  background-position: -140px -80px;

  /* Another JS thing, see @/core/dynamic-screen.js */
  width: 101vw;
  height: 101vh;

  position: fixed;
  z-index: -3;
}



.c-hotkey {
  font-family: Monospace;

  padding: 1px 3px;
  border: 2px outset;
  border-radius: 2px;

  display: inline;
}

.vue-slider {
  cursor: pointer;
}

/*# END - Semantic */