/*# General */

:root {
  --zoom-strength: 1;
}

* {
  user-select: none;
  text-align: center;

  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

body {
  font-size: 20px;
}

span {
  cursor: text;

  font-family: Bitter, Times, Serif;
}

button {
  cursor: pointer;

  font-family: Bitter, Times, Serif;
}
button span {
  font-size: 20px;
}

/*# END - General */




/*# Semantic */

#dynamic-content {
  cursor: move;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Funny, how, to make it dynamic, I have to make it fixed (to modify its position) */
  position: absolute;
}

#user-interface {
  /* The pixel difference on translate is based on a standard study's half-size */
  transform:
    translate( calc(-140px * var(--zoom-strength)), calc(-80px * var(--zoom-strength)))
    scale( var(--zoom-strength) );
}

#background {
  transform: scale( var(--zoom-strength) );
  width: calc(100vw / var(--zoom-strength));
  height: calc(100vh / var(--zoom-strength));

  position: fixed;
  z-index: -2;
}

/*# END - Semantic */