/* *******************************************************************************************************
* ***************************************     Default Elements     ***************************************
* *******************************************************************************************************/

span {
  color: var(--color-text);
}

text {
  fill: var(--color-text);
}



/* ####################
* Start: Background *
* *******************/

#background {
  background:
    repeating-linear-gradient(
      0deg,
      transparent             0 var(--meas-bg_pattern-2diff),
      var(--color-bg_stripes) var(--meas-bg_pattern-diff),
      transparent             var(--meas-grid-bg_pattern)
    ),

    repeating-linear-gradient(
      90deg,
      var(--color-bg_pattern) 0 var(--meas-bg_pattern-2diff),
      var(--color-bg_stripes) var(--meas-bg_pattern-diff),
      var(--color-bg_pattern) var(--meas-grid-bg_pattern)
    );
}

/* ******************
* Close: Background *
######################*/





/* ##################
* Start: Semantic *
* *****************/

.o-button {
  border-color: var(--hinted-color-ui-acc);
}



.f-hotkey {
  background-color: var(--color-key);
  color:            var(--color-key-text);

  border-color:     var(--color-key-acc);
}



.o-tooltip {
  background-color: var(--color-ui);

  outline-color:    var(--color-ui-acc);
}

.o-tooltip::before {
  border-color: var(--color-ui-acc);
}

/* ****************
* Close: Semantic *
####################*/




/* #############
* Start: API *
* ************/

/* Bad practice yes, but the styles are inline */
.vue-slider-rail {
  background-color: var(--hinted-color-ui-contrast) !important;
}

.vue-slider-point {
  background-color: var(--color-ui-contrast) !important;
}

.vue-slider-bar {
  background-color: var(--color-ui-acc) !important;
}

/* ***********
* Close: API *
###############/







/* *******************************************************************************************************
* **************************************     Fixed Interface     *****************************************
* *******************************************************************************************************/

/* ################
* Start: Header *
* ***************/

.c-header-tab-button {
  background-color: var(--hinted-color-ui);
  color:            var(--color-text);

  outline-color: transparent;
}

.c-header-tab-button:hover {
  background-color: var(--hinted-color-ui-acc);
}

.c-header-tab-button--flipped {
  outline-color: var(--opaque-color-ui-acc);
}

.l-header-indicator {
  border-image: var(--gradient-symmetrical-ui_acc) 1;
}



.c-header-subject {
  background-color: var(--hinted-color-ui);
}

.c-header--currency-value {
  border-bottom: var(--color-ui);
}

.c-header--option-calculated {
  border-color: var(--hinted-color-ui-acc);
}



#c-header--physics-indicator {
  border-image: var(--gradient-symmetrical-ui_acc) 1;
}

#c-header--physics-indicator::before {
  border-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--opaque-color-ui-acc) 30% 36%,
    transparent 36% 64%,
    var(--opaque-color-ui-acc) 64% 70%,
    transparent 100%
  ) 1;
}

/* **************
* Close: Header *
##################*/





/* ###################
* Start: Metapanel *
* ******************/

.o-metapanel {
  background-color: var(--hinted-color-ui);
}

.c-metapanel-toggle {
  background-color: var(--color-ui);

  border-color: var(--color-ui-acc);
}

.c-metapanel-toggle:hover {
  background-color: var(--color-ui--focus);
}



.c-metapanel--study_id {
  background-color: var(--opaque-color-ui);

  outline-color: var(--color-ui-acc);
}

.l-metapanel--study_name {
  border-image: var(--gradient-symmetrical-ui_acc) 1;
}

/* *****************
* Close: Metapanel *
#####################*/





/* ##################
* Start: Function *
* *****************/

.o-function {
  background-color: var(--opaque-color-ui);

  outline-color: var(--opaque-color-ui-acc);
}

.o-function:has(.o-function-button:hover) {
  outline-color: var(--hinted-color-ui-acc);
}

.l-function-indicator {
  background-color: var(--color-ui);

  outline-color: var(--opaque-color-ui-acc);
}

.o-function-button {
  background-color: var(--color-ui);
  
  box-shadow: 4px 4px 4px var(--opaque-color-bg-prim);
  outline-color: transparent;
}

.o-function-button:hover {
  background-color: var(--color-ui--focus);

  outline-color: var(--color-ui-acc);
}

.o-function-button--inactive > .o-tooltip,
.o-function-button--inactive:hover {
  outline-color: var(--color-warning);
}

.o-function-button--inactive > .o-tooltip::before {
  border-top-color: var(--color-warning);
}

/* ****************
* Close: Function *
####################*/





/* ######################
* Start: Notification *
* *********************/

.o-notification {
  background-color: var(--hinted-color-ui);

  border-color: var(--hinted-color-ui-acc);
}

.o-notification:hover {
  background-color: var(--opaque-color-ui);

  border-color: var(--color-ui-acc);
}

.o-notification::after {
  background-color: var(--color-ui);
}

.c-notification-flare::after {
  background-image: linear-gradient(
    90deg,
    var(--hinted-color-bg-prim) 0%,
    transparent 100%
  );
}

/* ********************
* Close: Notification *
########################*/







/* *******************************************************************************************************
* **********************************     Tree-related Elements     ***************************************
* *******************************************************************************************************/

/* #################
* Start: Studies *
* ****************/

/* Default */
.c-prim-study-id {
  text-shadow: 0 0 5px var(--color-text);
}

.o-prim-study {
  text-shadow: 0 0 3px var(--color-bg-prim);
  box-shadow: inset 0px 0px 25px -3px var(--color-bg-prim);
}

.o-prim-study::before {
  background-image: radial-gradient(transparent 0 90%, var(--hinted-color-bg-prim) 99% 100%);

  box-shadow: 0 0 20px var(--color-bg-prim);
  outline: 2px solid var(--color-study-prim);
}



/* Obfuscated */
.o-prim-study--obfuscated {
  background-color: var(--color-study--obfuscated-prim);
}
.o-prim-study--obfuscated span {
  color: var(--color-text-sec);
}

.o-prim-study--obfuscated::before {
  /* This isn't actually seen, but in case some pixels overlap, there aren't some strong color */
  /* contrast with the primary study color */
  background-color: var(--color-study--obfuscated-prim);

  outline-color: var(--color-study--obfuscated-prim);
}



/* Unavailable */
.o-prim-study--unavailable {
  background-color: var(--color-study--unavailable-prim);
}
.o-prim-study--unavailable span {
  color: var(--color-text-sec);
}

.o-prim-study--unavailable .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study--unavailable-sec);
}

.o-prim-study--unavailable::before {
  background-color: var(--color-study--unavailable-sec);
}

.o-prim-study--unavailable:hover {
  background-image: linear-gradient(transparent, var(--opaque-color-warning));
}
.o-prim-study--unavailable:hover span {
  color: var(--color-text-warning);
}

.o-prim-study--unavailable:hover::before {
  background-color: var(--color-influ-warning);
}



/* Available */
.o-prim-study--available {
  background-color: var(--color-bg-prim);
  background-image:
    linear-gradient(var(--subtle-color-ui-contrast), transparent);

  box-shadow: inset 0px 0px 25px -3px var(--color-study-prim);
}
.o-prim-study--available span {
  color: var(--color-study-prim);
}

.o-prim-study--available .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study-prim);
}

.o-prim-study--available:hover {
  background-image:
    linear-gradient(var(--subtle-color-ui-contrast) -50%, transparent),
    linear-gradient(transparent 10%, var(--color-study-sec) 120%);

  box-shadow: inset 0px 0px 25px -3px var(--color-bg-contrast);
}
.o-prim-study--available:hover span {
  color: var(--color-text);
}



/* Bought */
.o-prim-study--bought {
  background-color: var(--color-study-ter);
}
.o-prim-study--bought span {
  color: var(--color-text);
}

.o-prim-study--bought .l-prim-study-header span {
  text-shadow: 0 0 18px var(--color-black);
}

.o-prim-study--bought::before {
  background-color: var(--color-study-sec);
}



/* Respecced */
.o-prim-study--respecced {
  background-color: var(--color-study-ter--focus);

  box-shadow: inset 0px 0px 25px -3px var(--color-study-prim--focus);
}

.o-prim-study--respecced::before {
  background-color: var(--color-study-sec--focus);

  outline-color: var(--color-study-prim--focus);
}

/* ***************
* Close: Studies *
###################*/





/* #####################
* Start: Study Links *
* ********************/

.c-study-link {
  stroke: var(--color-study-prim);
}

.c-study-link_segment--obfuscated,
.c-study-link_ray-dashing--obfuscated {
  stroke: var(--color-study--obfuscated-prim);
}

/* *******************
* Close: Study Links *
#############@#########*/