:root {
  --color-ui: #2f2d39;
  --color-ui-acc: #4dc3fe;

  --color-text: #e4e4e4;
  --color-good: #5ac466;
  --color-bad: #efbf8f;

  --color-grey: #2e3440;
  --color-rich-black: #202527;
  
  --color-study: #f8300d;
}

/** Monochromatic hell... */
:root {
  --color-text-weak:   hsl(from var(--color-text) h s calc(0.5 * l + 25));
  --color-text-weaker: hsl(from var(--color-text-weak) h s calc(0.1 * l + 30));

  /* ...Ew. I think I might want to use color-mix for these */
  --color-grey-acc: hsl(from var(--color-grey) h s calc(l * 0.75));
  --color-rich-black-acc: lch(from var(--color-rich-black) calc(l * 0.8) calc(c - 0.5) calc(h + 15));
}

/** General variables that use relative color syntax */
:root {
  --opaque-color-bg-contrast: hsl(from var(--color-bg-contrast) h s l / 0.25);

  --color-text-good: hsl(from var(--color-good) h calc(s * 0.3) l);
  --color-text-bad: hsl(from var(--color-bad)   h calc(s * 0.3) l);

  --opaque-color-good: hsl(from var(--color-good) h s l / 0.5);
  --opaque-color-bad: hsl(from var(--color-bad)   h s l / 0.5);
}

span {
  color: var(--color-text);
}

text {
  fill: var(--color-text);
}



:root {
  --color-bg:          hsl(from var(--color-ui) h calc(s / 2) calc(l / 4));
  --color-bg-stripes:  hsl(from var(--color-ui-acc) h calc(s * 0.2) calc(l * 0.1));
  --color-bg-contrast: hsl(from var(--color-bg) h s calc(100 - l));
}

/*# Background */

#background {
  background:
    repeating-linear-gradient(transparent 0 190px, var(--color-bg-stripes) 195px, transparent 200px),
    repeating-linear-gradient(90deg, var(--color-bg) 0 190px, var(--color-bg-stripes) 195px, var(--color-bg) 200px);
}

#c-modal::backdrop {
  background: 
    linear-gradient(170deg, transparent 20%, #5d576b20);
}

/*# END - Background */





:root {
  --color-key: #f8f8ff;

  --color-key-acc: hsl(from var(--color-key) h calc(s * 0.5) l);
  --color-key-text: hsl(from var(--color-key) h s calc(100 - l));
}

/*# Semantic */

.c-hotkey {
  background-color: var(--color-key);
  color: var(--color-key-text);

  border-color: var(--color-key-acc);
}

/*# END - Semantic */





:root {
  --color-ui-contrast: hsl(from var(--color-ui) h s calc(100 - l));
  --opaque-color-ui-contrast: hsl(from var(--color-ui-contrast) h s l / 0.3);

  --color-focus-ui: hsl(from var(--color-ui) h s calc(0.8 * l + 10));

  --opaque-color-ui: hsl(from var(--color-ui) h s l / 0.6);
  --opaque-color-focus-ui: hsl(from var(--color-focus-ui) h s l / 0.6);

  --opaque-color-ui-acc: hsl(from var(--color-ui-acc) h s l / 0.5);
}



/*# Header */

/* See './src/component/base/DefaultSlider.vue'. Unfortunately, this is one of the elements that I cannot
directly modify the background-color of, as its bound to the component itself. I based the value on
var(--opaque-color-ui-contrast), however */
.vue-slider-rail {
  background-color: var(--opaque-color-ui-contrast);
}

.vue-slider-point {
  background-color: var(--color-ui-contrast);
}

.vue-slider-bar {
  background-color: var(--color-ui-acc);
}

.c-header-subject {
  background-color: var(--opaque-color-ui);
}



.c-header-tab-button {
  background-color: var(--opaque-color-ui);
  color: var(--color-text);

  outline-color: transparent;
}

.c-header-tab-button:hover {
  background-color: var(--opaque-color-focus-ui);
}

.c-header-tab-button--flipped {
  outline-color: var(--opaque-color-ui-acc);
}

.l-header-indicator {
  border-image:
    linear-gradient(90deg, transparent 0%, var(--color-ui-acc) 40% 60%, transparent 100%) 1;
}



.c-header-currency-value {
  border-bottom: var(--color-ui);
}

.c-header-option-calculated,
.c-header-option-toggle {
  border-color: var(--opaque-color-ui-acc);
}



#c-header-physics-indicator {
  border-image:
    linear-gradient(90deg, transparent 0%, var(--opaque-color-ui-acc) 20% 80%, transparent 100%) 1;
}

#c-header-physics-indicator::before {
  border-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--opaque-color-ui-acc) 30% 36%,
    transparent 36% 64%,
    var(--opaque-color-ui-acc) 64% 70%,
    transparent 100%
  ) 1;
}

/*# END - Header */



/*# Metapanel */

.o-metapanel {
  background-color: var(--opaque-color-ui);
}

.c-metapanel-cancel {
  background-color: var(--color-ui);

  border-color: var(--color-ui-acc);
}

.c-metapanel-cancel:hover {
  background-color: var(--color-focus-ui);
}



.c-metapanel--study_id {
  background-color: var(--opaque-color-ui);

  outline-color: var(--color-ui-acc);
}

.l-metapanel--study_name {
  border-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--color-ui-acc) 20% 80%,
    transparent 100%
  ) 1;
}

/*# END - Metapanel */



/*# Function */

.o-function-button {
  background-color: var(--opaque-color-ui);

  outline-color: transparent;
}

.o-function-button:hover {
  background-color: var(--opaque-color-focus-ui);

  outline-color: var(--color-ui-acc);
}

/*# END - Function  */









:root {
  --color-study-bg: hsl(from var(--color-study) calc(h - 5) calc(s * 0.65) calc(l * 0.5));
  --color-study-acc: hsl(from var(--color-study) h calc(s - 5) calc(l - 15));

  --color-study-focus: color-mix(in oklch, var(--color-study), var(--color-good) 5%);
  --color-study-bg-focus: hsl(from var(--color-study-focus) calc(h - 5) calc(s * 0.65) calc(l * 0.6));
  --color-study-acc-focus: hsl(from var(--color-study-focus) h calc(s - 5) calc(l - 5));

  --color-study-grey: #3d3d3d;
  --color-study-grey-acc: #262626;

  --color-study-bg-available: #140c0d;
}



/*# Studies */

.c-prim-study-id {
  text-shadow: 0 0 5px var(--color-text);
}

.o-prim-study {
  text-shadow: 0 0 3px #000;
  box-shadow: inset 0px 0px 25px -3px #000a;
}

.o-prim-study::before {
  background-image: radial-gradient(transparent 0 90%, #0006 99% 100%);

  box-shadow: 0 0 20px #000a;
  outline: 2px solid var(--color-study);
}

.o-prim-study--obfuscated {
  background-color: var(--color-rich-black);
}
.o-prim-study--obfuscated span {
  color: var(--color-text-weaker);
}

.o-prim-study--obfuscated::before {
  background-color: var(--color-rich-black);

  outline: var(--color-rich-black-acc);
}

.o-prim-study--unavailable {
  background-color: var(--color-study-grey);
}
.o-prim-study--unavailable span {
  color: var(--color-text-weak);
}

.o-prim-study--unavailable .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study-grey-acc);
}

.o-prim-study--unavailable::before {
  background-color: var(--color-study-grey-acc);
}

.o-prim-study--unavailable:hover {
  background-image:
    linear-gradient(transparent, var(--opaque-color-bad));
}
.o-prim-study--unavailable:hover span {
  color: var(--color-text-bad);
}

.o-prim-study--unavailable:hover::before {
  background-color: var(--color-bad);
}

.o-prim-study--available {
  background-color: var(--color-study-bg-available);
  background-image:
    linear-gradient(var(--opaque-color-bg-contrast) -50%, transparent);

  box-shadow: inset 0px 0px 25px -3px var(--color-study);
}
.o-prim-study--available span {
  color: var(--color-study);
}

.o-prim-study--available .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study);
}

.o-prim-study--available:hover {
  background-image:
    linear-gradient(var(--opaque-color-bg-contrast) -50%, transparent),
    linear-gradient(transparent 10%, var(--color-study-acc) 120%);

  box-shadow: inset 0px 0px 25px -3px var(--color-bg-contrast);
}
.o-prim-study--available:hover span {
  color: var(--color-text);
}

.o-prim-study--bought {
  background-color: var(--color-study-bg);
}
.o-prim-study--bought span {
  color: var(--color-text);
}

.o-prim-study--bought .l-prim-study-header span {
  text-shadow: 0 0 18px var(--color-black);
}

.o-prim-study--bought::before {
  background-color: var(--color-study-acc);
}



.o-prim-study--respecced {
  background-color: var(--color-study-bg-focus);
}

.o-prim-study--respecced::before {
  background-color: var(--color-study-acc-focus);

  outline-color: var(--color-study-focus);
}

/*# END - Studies */





/*# Study Links */

.c-study-link {
  stroke: var(--color-study-acc);
}

.c-study-link_segment--obfuscated {
  stroke: var(--color-grey);
}

.c-study-link_ray-dashing--obfuscated {
  stroke: var(--color-grey-acc);
}

/*# END - Study Links */