/* *******************************************************************************************************
* ***************************************     Default Elements     ***************************************
* *******************************************************************************************************/

span {
  color: var(--color-text);
}

text {
  fill: var(--color-text);
}



/* ####################
* Start: Background *
* *******************/

#background {
  background:
    repeating-linear-gradient(
      0deg,
      transparent 0 190px,
      var(--color-bg-stripes) 195px,
      transparent 200px
    ),

    repeating-linear-gradient(
      90deg,
      var(--color-bg) 0 190px,
      var(--color-bg-stripes) 195px,
      var(--color-bg) 200px
    );
}

/* ******************
* Close: Background *
######################*/





/* ##################
* Start: Semantic *
* *****************/

.o-button {
  border-color: var(--b-opaque-color-ui-acc);
}



.f-hotkey {
  background-color: var(--color-key);
  color: var(--color-key-text);

  border-color: var(--color-key-acc);
}



.o-tooltip {
  background-color: var(--color-ui);

  outline-color: var(--color-ui-acc);
}

.o-tooltip::before {
  border-color: var(--color-ui-acc);
}

/* ****************
* Close: Semantic *
####################*/







/* *******************************************************************************************************
* **************************************     Fixed Interface     *****************************************
* *******************************************************************************************************/

/* ################
* Start: Header *
* ***************/

/* See './src/component/base/DefaultSlider.vue'. Unfortunately, this is one of the elements that I cannot
directly modify the background-color of, as its bound to the component itself. I based the value on
var(--opaque-color-ui-contrast), however */
.vue-slider-rail {
  background-color: var(--opaque-color-ui-contrast);
}

.vue-slider-point {
  background-color: var(--color-ui-contrast);
}

.vue-slider-bar {
  background-color: var(--color-ui-acc);
}

.c-header-subject {
  background-color: var(--opaque-color-ui);
}



.c-header-tab-button {
  background-color: var(--opaque-color-ui);
  color: var(--color-text);

  outline-color: transparent;
}

.c-header-tab-button:hover {
  background-color: var(--opaque-color-focus-ui);
}

.c-header-tab-button--flipped {
  outline-color: var(--b-opaque-color-ui-acc);
}

.l-header-indicator {
  border-image:
    linear-gradient(90deg, transparent 0%, var(--color-ui-acc) 40% 60%, transparent 100%) 1;
}



.c-header--currency-value {
  border-bottom: var(--color-ui);
}

.c-header--option-calculated {
  border-color: var(--b-opaque-color-ui-acc);
}



#c-header--physics-indicator {
  border-image:
    linear-gradient(90deg, transparent 0%, var(--b-opaque-color-ui-acc) 20% 80%, transparent 100%) 1;
}

#c-header--physics-indicator::before {
  border-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--b-opaque-color-ui-acc) 30% 36%,
    transparent 36% 64%,
    var(--b-opaque-color-ui-acc) 64% 70%,
    transparent 100%
  ) 1;
}

/* **************
* Close: Header *
##################*/





/* ###################
* Start: Metapanel *
* ******************/

.o-metapanel {
  background-color: var(--opaque-color-ui);
}

.c-metapanel-cancel {
  background-color: var(--color-ui);

  border-color: var(--color-ui-acc);
}

.c-metapanel-cancel:hover {
  background-color: var(--color-focus-ui);
}



.c-metapanel--study_id {
  background-color: var(--opaque-color-ui);

  outline-color: var(--color-ui-acc);
}

.l-metapanel--study_name {
  border-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--color-ui-acc) 20% 80%,
    transparent 100%
  ) 1;
}

/* *****************
* Close: Metapanel *
#####################*/





/* ##################
* Start: Function *
* *****************/

.o-function {
  background-color: var(--opaque-color-ui);

  outline-color: var(--b-opaque-color-ui-acc);
}

.o-function:has(.o-function-button:hover) {
  outline-color: var(--f1-opaque-color-ui-acc);
}

.l-function-indicator {
  background-color: var(--color-ui);

  outline-color: var(--b-opaque-color-ui-acc);
}

.o-function-button {
  background-color: var(--color-ui);
  
  box-shadow: 4px 4px 4px var(--opaque-color-bg);
  outline-color: transparent;
}

.o-function-button:hover {
  background-color: var(--color-focus-ui);

  outline-color: var(--color-ui-acc);
}

.o-function-button--inactive > .o-tooltip,
.o-function-button--inactive:hover {
  outline-color: var(--color-warning);
}

.o-function-button--inactive > .o-tooltip::before {
  border-top-color: var(--color-warning);
}

/* ****************
* Close: Function *
####################*/





/* ######################
* Start: Notification *
* *********************/

.o-notification {
  background-color: var(--opaque-color-ui);

  border-color: var(--b-opaque-color-ui-acc);
}

.o-notification:hover {
  background-color: var(--color-ui);

  border-color: var(--color-ui-acc);
}

.o-notification::after {
  background-color: var(--color-ui);
}

.c-notification-flare::after {
  background-image: linear-gradient(
    90deg,
    var(--opaque-color-bg) 0%,
    transparent 100%
  );
}

/* ********************
* Close: Notification *
########################*/







/* *******************************************************************************************************
* **********************************     Tree-related Elements     ***************************************
* *******************************************************************************************************/

/* #################
* Start: Studies *
* ****************/

.c-prim-study-id {
  text-shadow: 0 0 5px var(--color-text);
}

.o-prim-study {
  text-shadow: 0 0 3px #000;
  box-shadow: inset 0px 0px 25px -3px #000a;
}

.o-prim-study::before {
  background-image: radial-gradient(transparent 0 90%, #0006 99% 100%);

  box-shadow: 0 0 20px #000a;
  outline: 2px solid var(--color-study);
}

.o-prim-study--obfuscated {
  background-color: var(--color-rich-black);
}
.o-prim-study--obfuscated span {
  color: var(--color-text-weaker);
}

.o-prim-study--obfuscated::before {
  background-color: var(--color-rich-black);

  outline: var(--color-rich-black-acc);
}

.o-prim-study--unavailable {
  background-color: var(--color-study-grey);
}
.o-prim-study--unavailable span {
  color: var(--color-text-weak);
}

.o-prim-study--unavailable .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study-grey-acc);
}

.o-prim-study--unavailable::before {
  background-color: var(--color-study-grey-acc);
}

.o-prim-study--unavailable:hover {
  background-image:
    linear-gradient(transparent, var(--opaque-color-bad));
}
.o-prim-study--unavailable:hover span {
  color: var(--color-text-bad);
}

.o-prim-study--unavailable:hover::before {
  background-color: var(--color-warning);
}

.o-prim-study--available {
  background-color: var(--color-study-bg-available);
  background-image:
    linear-gradient(var(--opaque-color-bg-contrast) -50%, transparent);

  box-shadow: inset 0px 0px 25px -3px var(--color-study);
}
.o-prim-study--available span {
  color: var(--color-study);
}

.o-prim-study--available .l-prim-study-header span {
  text-shadow: 0 0 15px var(--color-study);
}

.o-prim-study--available:hover {
  background-image:
    linear-gradient(var(--opaque-color-bg-contrast) -50%, transparent),
    linear-gradient(transparent 10%, var(--color-study-acc) 120%);

  box-shadow: inset 0px 0px 25px -3px var(--color-bg-contrast);
}
.o-prim-study--available:hover span {
  color: var(--color-text);
}

.o-prim-study--bought {
  background-color: var(--color-study-bg);
}
.o-prim-study--bought span {
  color: var(--color-text);
}

.o-prim-study--bought .l-prim-study-header span {
  text-shadow: 0 0 18px var(--color-black);
}

.o-prim-study--bought::before {
  background-color: var(--color-study-acc);
}



.o-prim-study--respecced {
  background-color: var(--color-study-bg-focus);
}

.o-prim-study--respecced::before {
  background-color: var(--color-study-acc-focus);

  outline-color: var(--color-study-focus);
}

/* ***************
* Close: Studies *
###################*/





/* #####################
* Start: Study Links *
* ********************/

.c-study-link {
  stroke: var(--color-study-acc);
}

.c-study-link_segment--obfuscated {
  stroke: var(--color-grey);
}

.c-study-link_ray-dashing--obfuscated {
  stroke: var(--color-grey-acc);
}

/* *******************
* Close: Study Links *
#############@#########*/