:root {
  --color-ui: #2f2d39;
  --color-ui-acc: #4dc3fe;

  --color-text: #e4e4e4;
  --color-good: #5ac466;
  --color-bad: #efbf8f;

  --color-grey: #2e3440;
  --color-rich-black: #202527;
  
  --color-study: #f8300d;
}